/* Set the box-sizing property to border-box for all elements */

* {
  box-sizing: border-box;
}
/* Style the body */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0%;
  margin: 0px auto;
  color: #AEC3B0;
  background-color: #0E3A4B;
}
/* Header/logo Title */

header {
  padding: 60px;
  text-align: center;
  background-color: #124559;
  color: #AEC3B0;
  flex-wrap: wrap;
}
/* The side navigation menu */

nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #01161E;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
}
nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #84a3a1;
  display: block;
  transition: 0.3s;
}
nav a:hover {
  color: #EFF6E0;
}
nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
main {
  padding: 20px;
  display: flex;
  margin-top: 15px;
  background-color: #84a3a1;
  color: #0E3A4B;
  text-align: center;
}
.grid-container {
  display: grid;
  gap: 15px;
  background-color: #EFF6E0;
}
.item1 {
  grid-column: 1;
  padding: 15px;
}
.item2 {
  grid-column: 2;
  padding: 15px;
}
.button {
  border: none;
  background-color: #84a3a1;
  color: white;
  padding: 16px 32px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 8px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #124559;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* Footer */

footer {
  padding: 50px;
  margin-top: 15px;
  text-align: center;
  background-color: #124559;
}
@media screen and (min-height: 750px) {
  nav {
    padding-top: 15px;
  }
  nav a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 700px) {
  .grid-container {
    display: block;
  }
}